# First Kaggle challenge - Titanic

## Machine Learning from Disaster

- v0.1_112020
- *uthor: marcusRB*
- [Kaggle - Titanic challenge](https://www.kaggle.com/c/titanic/)

***

## Importamos librerías

In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
from scipy.stats import norm, skew
from scipy import stats
import xlrd, xdrlib

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# data mining
#from sklearn.impute import KNNImputer, MissingIndicator, SimpleImputer
from sklearn import impute
#from sklearn_pandas import categorical_imputer, CategoricalImputer
from sklearn.pipeline import make_pipeline, make_union, Pipeline
from sklearn import preprocessing
# Wrangle missing value
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

## Warnings and other tools
import itertools
import warnings
warnings.filterwarnings("ignore")

*** 
## Cargamos la práctica anterior y dataset

In [2]:
# Load dataset train and test
test_titanic = pd.read_csv('test.csv')
ids = test_titanic['PassengerId']

# Create titanis list with both dataset to use same cleansing methods
titanic_list = pd.read_csv('titanic_list.csv')
titanic_list

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,TitleName,AgeGroup,FamilySize,IsAlone,IsAlone_2,FareGroup,InCabin,Fare_per_Person
0,22.0,NaN,S,1.134691,"Braund, Mr. Owen Harris",0,3,0,1,0.0,Mr,Student,1,0,0,Basic,False,0.567346
1,38.0,C85,C,1.664038,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,1,1,1.0,Mrs,Adult,1,0,0,Gold,True,0.832019
2,26.0,NaN,S,1.159662,"Heikkinen, Miss. Laina",0,3,1,0,1.0,Miss,Young Adult,0,1,0,Bronce,False,1.159662
3,35.0,C123,S,1.607603,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,1,1,1.0,Mrs,Young Adult,1,0,0,Gold,True,0.803802
4,35.0,NaN,S,1.164014,"Allen, Mr. William Henry",0,3,0,0,0.0,Mr,Young Adult,0,1,0,Bronce,False,1.164014
5,-0.5,NaN,Q,1.177698,"Moran, Mr. James",0,3,0,0,0.0,Mr,Unknown,0,1,0,Bronce,False,1.177698
6,54.0,E46,S,1.602956,"McCarthy, Mr. Timothy J",0,1,0,0,0.0,Mr,Mid-Senior,0,1,0,Gold,True,1.602956
7,2.0,NaN,S,1.409631,"Palsson, Master. Gosta Leonard",1,3,0,3,0.0,Master,Baby,4,0,0,Silver,False,0.281926
8,27.0,NaN,S,1.251606,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,3,1,0,1.0,Mrs,Young Adult,2,0,0,Bronce,False,0.417202
9,14.0,NaN,C,1.489814,"Nasser, Mrs. Nicholas (Adele Achem)",0,2,1,1,1.0,Mrs,Teenager,1,0,0,Silver,False,0.744907
10,4.0,G6,S,1.354175,"Sandstrom, Miss. Marguerite Rut",1,3,1,1,1.0,Miss,Baby,2,0,0,Silver,True,0.451392
11,58.0,C103,S,1.462330,"Bonnell, Miss. Elizabeth",0,1,1,0,1.0,Miss,Mid-Senior,0,1,0,Silver,True,1.462330
12,20.0,NaN,S,1.164014,"Saundercock, Mr. William Henry",0,3,0,0,0.0,Mr,Student,0,1,0,Bronce,False,1.164014
13,39.0,NaN,S,1.498348,"Andersson, Mr. Anders Johan",5,3,0,1,0.0,Mr,Adult,6,0,0,Silver,False,0.214050
14,14.0,NaN,S,1.157162,"Vestrom, Miss. Hulda Amanda Adolfina",0,3,1,0,0.0,Miss,Teenager,0,1,0,Basic,False,1.157162
15,55.0,NaN,S,1.343703,"Hewlett, Mrs. (Mary D Kingcome)",0,2,1,0,1.0,Mrs,Mid-Senior,0,1,0,Silver,False,1.343703
16,2.0,NaN,Q,1.482821,"Rice, Master. Eugene",1,3,0,4,0.0,Master,Baby,5,0,0,Silver,False,0.247137
17,-0.5,NaN,S,1.291725,"Williams, Mr. Charles Eugene",0,2,0,0,1.0,Mr,Unknown,0,1,0,Bronce,False,1.291725
18,31.0,NaN,S,1.372307,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,3,1,1,0.0,Mrs,Young Adult,1,0,0,Silver,False,0.686153
19,-0.5,NaN,C,1.133715,"Masselmani, Mrs. Fatima",0,3,1,0,1.0,Mrs,Unknown,0,1,0,Basic,False,1.133715
20,35.0,NaN,S,1.457646,"Fynney, Mr. Joseph J",0,2,0,0,0.0,Mr,Young Adult,0,1,0,Silver,False,1.457646
21,34.0,D56,S,1.291725,"Beesley, Mr. Lawrence",0,2,0,0,1.0,Mr,Young Adult,0,1,0,Bronce,True,1.291725
22,15.0,NaN,Q,1.163296,"McGowan, Miss. Anna ""Annie""",0,3,1,0,1.0,Miss,Teenager,0,1,0,Bronce,False,1.163296
23,28.0,A6,S,1.525472,"Sloper, Mr. William Thompson",0,1,0,0,1.0,Mr,Young Adult,0,1,0,Gold,True,1.525472
24,8.0,NaN,S,1.409631,"Palsson, Miss. Torborg Danira",1,3,1,3,0.0,Miss,Child,4,0,0,Silver,False,0.281926
25,38.0,NaN,S,1.499126,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,3,1,1,1.0,Mrs,Adult,6,0,0,Gold,False,0.214161
26,-0.5,NaN,C,1.133715,"Emir, Mr. Farred Chehab",0,3,0,0,0.0,Mr,Unknown,0,1,0,Basic,False,1.133715
27,19.0,C23 C25 C27,S,1.883419,"Fortune, Mr. Charles Alexander",2,1,0,3,0.0,Mr,Student,5,0,0,Gold,True,0.313903
28,-0.5,NaN,Q,1.158048,"O'Dwyer, Miss. Ellen ""Nellie""",0,3,1,0,1.0,Miss,Unknown,0,1,0,Basic,False,1.158048
29,-0.5,NaN,S,1.158634,"Todoroff, Mr. Lalio",0,3,0,0,0.0,Mr,Unknown,0,1,0,Basic,False,1.158634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,1.153433,"Canavan, Mr. Patrick",0,3,0,0,NaN,Mr,Student,0,1,0,Basic,False,1.153433
1280,6.0,NaN,S,1.409631,"Palsson, Master. Paul Folke",1,3,0,3,NaN,Master,Child,4,0,0,Silver,False,0.281926
1281,23.0,B24,S,1.713546,"Payne, Mr. Vivian Ponsonby",0,1,0,0,NaN,Mr,Student,0,1,0,Gold,True,1.713546
1282,51.0,D28,S,1.547313,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1,1,0,NaN,Mrs,Mid-Senior,1,0,0,Gold,True,0.773657
1283,13.0,NaN,S,1.400285,"Abbott, Master. Eugene Joseph",2,3,0,0,NaN,Master,Teenager,2,0,0,Silver,False,0.466762
1284,47.0,NaN,S,1.236154,"Gilbert, Mr. William",0,2,0,0,NaN,Mr,Adult,0,1,0,Bronce,False,1.236154
1285,29.0,NaN,S,1.419870,"Kink-Heilmann, Mr. Anton",1,3,0,3,NaN,Mr,Young Adult,4,0,0,Silver,False,0.283974
1286,18.0,C31,S,1.631370,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1,1,1,NaN,Mrs,Teenager,1,0,0,Gold,True,0.815685
1287,24.0,NaN,Q,1.134691,"Colbert, Mr. Patrick",0,3,0,0,NaN,Mr,Student,0,1,0,Basic,False,1.134691
1288,48.0,B41,C,1.683529,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1,1,1,NaN,Mrs,Adult,2,0,0,Gold,True,0.561176
1289,22.0,NaN,S,1.154333,"Larsson-Rondberg, Mr. Edvard A",0,3,0,0,NaN,Mr,Student,0,1,0,Basic,False,1.154333
1290,31.0,NaN,Q,1.152830,"Conlon, Mr. Thomas Henry",0,3,0,0,NaN,Mr,Young Adult,0,1,0,Basic,False,1.152830
1291,30.0,C7,S,1.810121,"Bonnell, Miss. Caroline",0,1,1,0,NaN,Miss,Young Adult,0,1,0,Gold,True,1.810121
1292,38.0,NaN,S,1.408800,"Gale, Mr. Harry",0,2,0,1,NaN,Mr,Adult,1,0,0,Silver,False,0.704400
1293,22.0,NaN,C,1.629434,"Gibson, Miss. Dorothy Winifred",1,1,1,0,NaN,Miss,Student,1,0,0,Gold,False,0.814717
1294,17.0,NaN,S,1.583768,"Carrau, Mr. Jose Pedro",0,1,0,0,NaN,Mr,Teenager,0,1,0,Gold,False,1.583768
1295,43.0,D40,C,1.471926,"Frauenthal, Mr. Isaac Gerald",0,1,0,1,NaN,Mr,Adult,1,0,0,Silver,True,0.735963
1296,20.0,D38,C,1.308020,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,2,0,0,NaN,Mr,Student,0,1,0,Bronce,True,1.308020
1297,23.0,NaN,S,1.236154,"Ware, Mr. William Jeffery",0,2,0,1,NaN,Mr,Student,1,0,0,Bronce,False,0.618077
1298,50.0,C80,C,1.849862,"Widener, Mr. George Dunton",1,1,0,1,NaN,Mr,Adult,2,0,0,Gold,True,0.616621
1299,-0.5,NaN,Q,1.152378,"Riordan, Miss. Johanna Hannah""""",0,3,1,0,NaN,Miss,Unknown,0,1,0,Basic,False,1.152378
1300,3.0,NaN,S,1.306422,"Peacock, Miss. Treasteall",1,3,1,1,NaN,Miss,Baby,2,0,0,Bronce,False,0.435474
1301,-0.5,NaN,Q,1.153433,"Naughton, Miss. Hannah",0,3,1,0,NaN,Miss,Unknown,0,1,0,Basic,False,1.153433
1302,37.0,C78,Q,1.706721,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1,1,1,NaN,Mrs,Adult,1,0,0,Gold,True,0.853360
1303,28.0,NaN,S,1.154333,"Henriksson, Miss. Jenny Lovisa",0,3,1,0,NaN,Miss,Young Adult,0,1,0,Basic,False,1.154333
1304,-0.5,NaN,S,1.164014,"Spector, Mr. Woolf",0,3,0,0,NaN,Mr,Unknown,0,1,0,Bronce,False,1.164014
1305,39.0,C105,C,1.740391,"Oliva y Ocana, Dona. Fermina",0,1,1,0,NaN,Rare,Adult,0,1,0,Gold,True,1.740391
1306,38.5,NaN,S,1.134691,"Saether, Mr. Simon Sivertsen",0,3,0,0,NaN,Mr,Adult,0,1,0,Basic,False,1.134691
1307,-0.5,NaN,S,1.164014,"Ware, Mr. Frederick",0,3,0,0,NaN,Mr,Unknown,0,1,0,Bronce,False,1.164014
1308,-0.5,NaN,C,1.423338,"Peter, Master. Michael J",1,3,0,1,NaN,Master,Unknown,2,0,0,Silver,False,0.474446

***

### Eliminamos las features no necesarias

In [7]:
titanic_list.dtypes

Fare                    float64
Pclass                    int64
Sex                       int64
Survived                float64
FamilySize                int64
IsAlone                   int64
InCabin                    bool
Fare_per_Person         float64
Embarked_C                uint8
Embarked_Q                uint8
Embarked_S                uint8
TitleName_Master          uint8
TitleName_Miss            uint8
TitleName_Mlle            uint8
TitleName_Mme             uint8
TitleName_Mr              uint8
TitleName_Mrs             uint8
TitleName_Ms              uint8
TitleName_Rare            uint8
AgeGroup_Adult            uint8
AgeGroup_Baby             uint8
AgeGroup_Child            uint8
AgeGroup_Mid-Senior       uint8
AgeGroup_Senior           uint8
AgeGroup_Student          uint8
AgeGroup_Teenager         uint8
AgeGroup_Unknown          uint8
AgeGroup_Young Adult      uint8
FareGroup_Basic           uint8
FareGroup_Bronce          uint8
FareGroup_Gold            uint8
FareGroup_Silver          uint8
dtype: object

In [3]:
# Realizamos la eliminación de las features que no son necesarias
col_drop = ['Parch', 'SibSp', 'Age', 'Name', 'IsAlone_2', 'Cabin']
titanic_list.drop(col_drop, axis = 1, inplace = True)

***
## Transformación de las features en binaria

In [4]:
titanic_list.dtypes

Embarked            object
Fare               float64
Pclass               int64
Sex                  int64
Survived           float64
TitleName           object
AgeGroup            object
FamilySize           int64
IsAlone              int64
FareGroup           object
InCabin               bool
Fare_per_Person    float64
dtype: object

In [5]:
# We convert Categorical to boolean for first dataset
categorical_feature = titanic_list.dtypes == "object"
# filter categorical columns
categorical_cols = titanic_list.columns[categorical_feature].tolist()
categorical_cols

['Embarked', 'TitleName', 'AgeGroup', 'FareGroup']

In [6]:
# Binarizamos las dimensiones categóricas
titanic_list = pd.get_dummies(titanic_list, columns = categorical_cols)
titanic_list.head(10)

,Fare,Pclass,Sex,Survived,FamilySize,IsAlone,InCabin,Fare_per_Person,Embarked_C,Embarked_Q,...,AgeGroup_Mid-Senior,AgeGroup_Senior,AgeGroup_Student,AgeGroup_Teenager,AgeGroup_Unknown,AgeGroup_Young Adult,FareGroup_Basic,FareGroup_Bronce,FareGroup_Gold,FareGroup_Silver
0,1.134691,3,0,0.0,1,0,False,0.567346,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1.664038,1,1,1.0,1,0,True,0.832019,1,0,...,0,0,0,0,0,0,0,0,1,0
2,1.159662,3,1,1.0,0,1,False,1.159662,0,0,...,0,0,0,0,0,1,0,1,0,0
3,1.607603,1,1,1.0,1,0,True,0.803802,0,0,...,0,0,0,0,0,1,0,0,1,0
4,1.164014,3,0,0.0,0,1,False,1.164014,0,0,...,0,0,0,0,0,1,0,1,0,0
5,1.177698,3,0,0.0,0,1,False,1.177698,0,1,...,0,0,0,0,1,0,0,1,0,0
6,1.602956,1,0,0.0,0,1,True,1.602956,0,0,...,1,0,0,0,0,0,0,0,1,0
7,1.409631,3,0,0.0,4,0,False,0.281926,0,0,...,0,0,0,0,0,0,0,0,0,1
8,1.251606,3,1,1.0,2,0,False,0.417202,0,0,...,0,0,0,0,0,1,0,1,0,0
9,1.489814,2,1,1.0,1,0,False,0.744907,1,0,...,0,0,0,1,0,0,0,0,0,1

*** 

## Creamos train y test dataset

In [9]:
train = titanic_list[:891]
testing = titanic_list[891:]

In [10]:
testing.head(10)

,Fare,Pclass,Sex,Survived,FamilySize,IsAlone,InCabin,Fare_per_Person,Embarked_C,Embarked_Q,...,AgeGroup_Mid-Senior,AgeGroup_Senior,AgeGroup_Student,AgeGroup_Teenager,AgeGroup_Unknown,AgeGroup_Young Adult,FareGroup_Basic,FareGroup_Bronce,FareGroup_Gold,FareGroup_Silver
891,1.156272,3,0,NaN,0,1,False,1.156272,0,1,...,0,0,0,0,0,1,1,0,0,0
892,1.124748,3,1,NaN,1,0,False,0.562374,0,0,...,0,0,0,0,0,0,1,0,0,0
893,1.214638,2,0,NaN,0,1,False,1.214638,0,1,...,1,0,0,0,0,0,0,1,0,0
894,1.184255,3,0,NaN,0,1,False,1.184255,0,0,...,0,0,0,0,0,1,0,1,0,0
895,1.277267,3,1,NaN,2,0,False,0.425756,0,0,...,0,0,1,0,0,0,0,1,0,0
896,1.201420,3,0,NaN,0,1,False,1.201420,0,0,...,0,0,0,1,0,0,0,1,0,0
897,1.149037,3,1,NaN,0,1,False,1.149037,0,1,...,0,0,0,0,0,1,1,0,0,0
898,1.481877,2,0,NaN,2,0,False,0.493959,0,0,...,0,0,0,0,0,1,0,0,0,1
899,1.133879,3,1,NaN,0,1,False,1.133879,1,0,...,0,0,0,1,0,0,1,0,0,0
900,1.440986,3,0,NaN,2,0,False,0.480329,0,0,...,0,0,1,0,0,0,0,0,0,1

In [11]:
train.head(10)

,Fare,Pclass,Sex,Survived,FamilySize,IsAlone,InCabin,Fare_per_Person,Embarked_C,Embarked_Q,...,AgeGroup_Mid-Senior,AgeGroup_Senior,AgeGroup_Student,AgeGroup_Teenager,AgeGroup_Unknown,AgeGroup_Young Adult,FareGroup_Basic,FareGroup_Bronce,FareGroup_Gold,FareGroup_Silver
0,1.134691,3,0,0.0,1,0,False,0.567346,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1.664038,1,1,1.0,1,0,True,0.832019,1,0,...,0,0,0,0,0,0,0,0,1,0
2,1.159662,3,1,1.0,0,1,False,1.159662,0,0,...,0,0,0,0,0,1,0,1,0,0
3,1.607603,1,1,1.0,1,0,True,0.803802,0,0,...,0,0,0,0,0,1,0,0,1,0
4,1.164014,3,0,0.0,0,1,False,1.164014,0,0,...,0,0,0,0,0,1,0,1,0,0
5,1.177698,3,0,0.0,0,1,False,1.177698,0,1,...,0,0,0,0,1,0,0,1,0,0
6,1.602956,1,0,0.0,0,1,True,1.602956,0,0,...,1,0,0,0,0,0,0,0,1,0
7,1.409631,3,0,0.0,4,0,False,0.281926,0,0,...,0,0,0,0,0,0,0,0,0,1
8,1.251606,3,1,1.0,2,0,False,0.417202,0,0,...,0,0,0,0,0,1,0,1,0,0
9,1.489814,2,1,1.0,1,0,False,0.744907,1,0,...,0,0,0,1,0,0,0,0,0,1

In [13]:
train.Survived.dtype

dtype('float64')

In [14]:
# Convertimos la columna de Survived en INT
train['Survived'] = train['Survived'].astype(int)

In [16]:
train.Survived.dtype

dtype('int64')

In [17]:
# Eliminamos la columna Survived del dataset TESTING
testing.drop(['Survived'], axis = 1, inplace = True)

In [18]:
testing.head(10)

,Fare,Pclass,Sex,FamilySize,IsAlone,InCabin,Fare_per_Person,Embarked_C,Embarked_Q,Embarked_S,...,AgeGroup_Mid-Senior,AgeGroup_Senior,AgeGroup_Student,AgeGroup_Teenager,AgeGroup_Unknown,AgeGroup_Young Adult,FareGroup_Basic,FareGroup_Bronce,FareGroup_Gold,FareGroup_Silver
891,1.156272,3,0,0,1,False,1.156272,0,1,0,...,0,0,0,0,0,1,1,0,0,0
892,1.124748,3,1,1,0,False,0.562374,0,0,1,...,0,0,0,0,0,0,1,0,0,0
893,1.214638,2,0,0,1,False,1.214638,0,1,0,...,1,0,0,0,0,0,0,1,0,0
894,1.184255,3,0,0,1,False,1.184255,0,0,1,...,0,0,0,0,0,1,0,1,0,0
895,1.277267,3,1,2,0,False,0.425756,0,0,1,...,0,0,1,0,0,0,0,1,0,0
896,1.201420,3,0,0,1,False,1.201420,0,0,1,...,0,0,0,1,0,0,0,1,0,0
897,1.149037,3,1,0,1,False,1.149037,0,1,0,...,0,0,0,0,0,1,1,0,0,0
898,1.481877,2,0,2,0,False,0.493959,0,0,1,...,0,0,0,0,0,1,0,0,0,1
899,1.133879,3,1,0,1,False,1.133879,1,0,0,...,0,0,0,1,0,0,1,0,0,0
900,1.440986,3,0,2,0,False,0.480329,0,0,1,...,0,0,1,0,0,0,0,0,0,1